@import url("https://fonts.googleapis.com/css?family=Righteous|Raleway|Work+Sans&display=swap");

#track {
  width: 85%;
  height: 120px;
  background-image: url("../../images/dashboardHeaderBG.jpg");
  color: #e91e63;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
  border-radius: 0px;
  font-family: "Work Sans", cursive;
  font-size: 0.7em;

  h2 {
    font-size: 2.1em !important;
    color: white;
    font-weight: bold;
    border-bottom: 2px solid #e91e63;
    width: fit-content !important;
    margin: 0 !important;
    margin-bottom: 13px !important;
  }

  h3 {
    font-family: "Work Sans", sans-serif;
    font-size: 1.35em;
  }

  #track-player-div {
    width: 90%;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    #track-info {
      display: flex;
      justify-content: space-between;
      align-items: center;

      #track-producer {
        display: flex;
        justify-content: space-around;
        align-items: center;

        img {
          height: 50px;
          width: 50px;
          border-radius: 50%;
          margin-right: 10px;
        }
      }
    }

    #track-player {
      height: 70px;
      width: 90%;
      display: flex;
      align-items: center;
      margin: auto auto 5px auto;

      .styles_clippPlayer__14S42 .styles_button__1v679:hover {
        background: deepskyblue !important;
      }
    }
  }

  #track-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 5%;
    margin-left: 10px;

    #dollar-button {
      box-shadow: none;
      border: none;
      width: 0px;
      transition: none;
      background-color: none;
      padding: 0px;
    }

    .download-icon {
      width: 30px;
      width: 30px;
    }

    #dollar-icon {
      width: 30px;
      width: 30px;
    }
  }

  @media (max-width: 975px) {
    #track-player-div {
      width: 85%;
    }

    h2 {
      font-size: 0.9em;
    }

    #track-buttons {
      margin-right: 30px;
    }

    .download-icon {
      margin-right: 100px;
      height: 30px;
      width: 30px;
    }
  }
}

@media (min-width: 1000px) {
  #track-player-div {
    width: 75%;
  }
}
