#sample-track {
    height: 100px;
    width: 100px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        color: #fff;
        font-size: 20px;
        font-weight: bold;
    }
}