@import url("https://fonts.googleapis.com/css?family=Righteous|Work+Sans&display=swap");

$pink-color: #e91e63;
$neon-blue-color: #19f4fb;
$emphasis-color: #e91e63;
$header-font: "Righteous", cursive;
$body-font: "Work Sans", sans-serif;
$body-font-color: white;

button {
  width: 130px;
  padding-top: 7px;
  padding-bottom: 7px;
  background: transparent;
  border-radius: 0;
  color: white;
  font-size: 14px;
  box-shadow: inset 0 0 1em rgba(0, 170, 170, 0.5),
    0 0 1em rgba(0, 170, 170, 0.5);
  border: #0dd solid 2px;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  text-transform: uppercase;
  font-family: $body-font;
  font-weight: bold;
  letter-spacing: 0.15em;

  &:hover {
    background-color: #0dd;
    box-shadow: inset 0 0 0 rgba(0, 170, 170, 0.5),
      0 0 1.5em rgba(0, 170, 170, 0.7);
  }
}

a {
  color: $pink-color;
  text-decoration: none;
  font-family: $body-font;

  &:hover {
    font-weight: bold;
    text-decoration: none;
  }

  &:visited {
    color: $neon-blue-color;
  }
}

.db-upload-buttons {
  width: 10%;
  border: none;
  box-shadow: none;
  color: #b0c4de;
  transition: none;

  &:hover {
    background: transparent;
    box-shadow: none;
    font-weight: bold;
  }
}

.link {
  // width: 8%;
  border: none;
  box-shadow: none;
  transition: none;
  display: flex;
  align-items: flex-start;
  letter-spacing: 0.15em;
  margin-right: 25px;

  &:hover {
    background: transparent;
    box-shadow: none;
    font-weight: bold;
  }
}
