@import url("https://fonts.googleapis.com/css?family=Righteous|Work+Sans&display=swap");

#dashboard {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: rgb(180, 61, 101);
  background: linear-gradient(
    308deg,
    rgba(180, 61, 101, 1) 5%,
    rgba(28, 0, 4, 1) 100%
  );
  background-size: fill;
  font-family: "Work Sans", sans-serif;
  color: white;

  #user-dashboard {
    width: calc(100% - 250px);
    display: flex;
    flex-direction: column;
    // align-items: baseline;
    align-content: center;
    justify-content: flex-start;
    overflow-y: auto;
    // padding-top: 30px;

    #dashboard-header {
      // background: black;
      // background-image: url("../../images/dashboardHeaderBG.jpg");
      // background-size: fill;
      width: 100%;
      padding-top: 30px;
      padding-left: 30px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    #dashboard-title {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 50px 0;

      img {
        height: 250px;
        width: 250px;
      }

      #user-description {
        width: 50%;
        text-align: left;
      }
    }

    #producer-stats {
      height: fit-content;
      padding: 50px 0;
      width: 100%;
      background-color: lightgray;
    }

    #dashboard-main {
      width: 100%;
      display: flex;
      flex-direction: column;
      // padding-top: 50px;

      #upload-section {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 50px 0;

        #dashboard-upload {
          width: 30%;
          display: flex;
          justify-content: center;

          & > div {
            height: 200px;
            width: 200px;
            // background-color: lightgray;
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        #uploaded-beats {
          width: 70%;

          & > div {
            display: flex;
            width: 80%;
            justify-content: space-between;
            margin: auto;
          }
        }
      }

      #purchased-beats {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        // background-color: lightgray;
        padding: 30px 0;

        #purchased-header {
          // background: black;
          // background-image: url("../../images/dashboardHeaderBG.jpg");
          // background-size: fill;
          width: 100%;
          height: 10vh;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding-top: 15px;
          padding-left: 30px;
        }
      }
    }
  }

  #dj-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 8px;
  }

  #uploaded-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 25px;
  }

  #purchased-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 8px;
  }

  #uploaded-header {
    // background: black;
    // background-image: url("../../images/dashboardHeaderBG.jpg");
    // background-size: fill;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 15px;
    padding-left: 30px;
  }

  h1 {
    font-weight: 800;
  }
  h3 {
    font-weight: 800;
  }
}
