@import url("https://fonts.googleapis.com/css?family=Righteous|Cabin&display=swap");

#footer {
  width: 100%;
  height: 6vh;
  text-align: right;
  background-color: black;
  font-family: "Cabin", sans-serif;
  font-size: 0.9em;
  color: white;
  padding-right: 30px;
}

.emphasis {
  color: #0dd;
  font-weight: bolder;
}
