@import url("https://fonts.googleapis.com/css?family=Righteous|Work+Sans&display=swap");

#browse {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: rgb(180, 61, 101);
  background: linear-gradient(
    308deg,
    rgba(180, 61, 101, 1) 5%,
    rgba(28, 0, 4, 1) 100%
  );
  background-size: fill;

  #browse-beats {
    width: calc(100% - 210px);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
    overflow-x: hidden;

    #genre-cards {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      .genre-card {
        width: 17%;
        height: calc(17vw - 50px);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
      }
    }

    #browse-top5 {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      margin-top: 35px;
    }

    #browse-all-tracks {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
    }
  }

  h2 {
    width: 100%;
    margin-top: 20px;
    margin-left: 20px;
    color: white;
    // text-shadow: 4px 4px #e91e63;
    font-family: "Work Sans", sans-serif;
    font-weight: bold;
    // text-transform: uppercase;
    text-align: left;
    font-size: 1.5em;
  }
}

#browse-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

#all-tracks-title {
  font-family: "Work Sans", sans-serif;
  color: white;
}

.fuego-icon {
  width: 50px;
  height: 50px;
  margin-top: -25px;
  animation: pulse 1.5s infinite 0s linear;
}

@keyframes pulse {
  0% {
  }
  50% {
    transform: scale(1.3);
  }
}
